.lista-tarefas {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-vazia {
  text-align: center;
  padding: 60px 20px;
  color: #999;
}

.lista-vazia-icon {
  font-size: 64px;
  margin-bottom: 16px;
  opacity: 0.3;
}

.lista-vazia-texto {
  font-size: 18px;
  color: #666;
}